* {
    margin: 0;
    padding: 0;
}

.hlavicka {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 5, 25, 3), rgba(3, 5, 25, 0.2)), url("img.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: 0.5s;
    border-radius: 10px;

}

.menu ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    font-family: "Trebuchet MS";
}

.menu ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: aquamarine;
    display: block;
    margin: auto;
    transition: 0.75s;
}

.menu ul li:hover::after {
    width: 100%;
}


.domov {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.domov h1 {
    font-size: 80px;
}

.domov p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
}

.tlacidlo {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.tlacidlo:hover{
    border: 1px solid black;
    background: darkgray;
    transition: 1s;
    color: black;
    transform: scale(1.5);
}

.hlavicka1 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/* novinky*/
.novinky {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-top: auto;
}

.novinky h1 {
    font-size: 60px;
    margin: 0px 80px 40px;
}

.novinky p {
    margin: 0px 80px 45px;
}









/*hrdinovia*/

.vsetciHrdinovia1 {
    width: 250px;
    margin: auto;
    text-align: center;
    padding-top: 125px;
}

.hrdinaAntiMage {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.hrdinaAntiMage img {
    width: 250px;
}

.hrdinaAntiMage:hover {
    transform: scale(1.5);
    transition: 1s;
}

.hrdinaAntiMage:target {
    background-color: crimson;
}

.hrdinaCrystal {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.hrdinaCrystal img {
    width: 250px;
}

.hrdinaCrystal:hover {
    transform: scale(1.5);
    transition: 1s;
}

.hrdinaFurion {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.hrdinaFurion img {
    width: 250px;
}

.hrdinaFurion:hover {
    transform: scale(1.5);
    transition: 1s;
}

.hrdinaJuggernout {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.hrdinaJuggernout img {
    width: 250px;
}

.hrdinaJuggernout:hover {
    transform: scale(1.5);
    transition: 1s;
}

.hrdinaMonkeyKing {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.hrdinaMonkeyKing img {
    width: 250px;
}

.hrdinaMonkeyKing:hover {
    transform: scale(1.5);
    transition: 1s;
}








/* turnaje */

.turnaje {
    width: 60%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.turnaje h1 {
    font-size: 80px;
}








/* rebricek */

.rebricek {
    width: 60%;
    color: indianred;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.rebricek h2 {
    font-size: 80px;
    font-family: "Trebuchet MS";
}

.rebricek table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: whitesmoke;
    text-align: center;
    font-family: "Trebuchet MS";
}

.rebricek table th{
    background-color: transparent;
    padding: 50px 30px 4px 80px;
    font-size: 20px;
}

.rebricek table td{
    border: 1px solid whitesmoke;
    padding: 4px 8px;
}

.rebricek table tr:nth-child(odd) td {
    background-color: dimgray;
    color: whitesmoke;
}

.rebricek table tr:nth-child(even) td {
    background-color: darkgray;
    color: black;
}





/* diskusne forum */

.forum {
    border: 1px solid white;
    border-width: thick;
    margin: 50px 0;
    padding: 25px 30px;

}

.forum h1 {
    text-align: left;
    color: white;
    padding-bottom: 15px;
}

.forumPridaj input, .forumPridaj textarea {
    width: 100%;
    padding:10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: lightgray;
}

.forumPridaj label {
    color: white;
    font-size: 16px;
}

.prispevky {
    border: 1px solid whitesmoke;
    border-width: medium;
    margin: 50px;
    padding: 25px 30px;
    color: white;
}

.prispevky h2 {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 1px;
}

.prispevky p {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 50px;
}

nav .fa {
    display: none;
}


/* responzivny dizajn */

@media (max-width: 700px) {
    .domov h1 {
        font-size: 30px;
    }

    .menu ul li {
        display: block;
    }

    .menu {
        position: absolute;
        background: dimgray;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .menu ul {
        padding: 30px;
    }

    .rebricek h2 {
        font-size: 25px;
    }

    .rebricek table td{
        display: none;
    }

    .rebricek table th:nth-child(3){
        display: block;
        font-size: 15px;
    }

    .rebricek table td:nth-child(3){
        display: block;
        font-size: 10px;
    }
}
